* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.linkk {
  color: white;
  text-decoration: none;
  position: relative;
  transition: 0.3s ease-in-out;
}

.linkk::after {
  content: "";
  height: 3px;
  width: 100%;
  left: 0;
  background-color: #E3651D;
  position: absolute;
  transition: 0.3s ease-in-out;
  transform: scaleX(0);
  bottom: -5px;
  border-radius: 10px;
}


.linkk:hover::after {
  transform: scaleX(1);
}

.active {
  color: #E3651D;
}

.home_main_container {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.span {
  background-color: rgba(255, 255, 255, 0.322);
  padding: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  letter-spacing: 4px;
  backdrop-filter: blur(12px);
}

.span h1 {
  font-size: 60px;
  /* text-transform: uppercase; */
  color: #23506D;
}

.span h1 span {
  color: #E3651D;
}

.span p {
  font-size: 30px;
  color: white;
  margin-top: 20px;
}

.span button {
  padding: 10px;
  width: 150px;
  border: none;
  background-color: #23506D;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.second {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.second_content {
  display: flex;
  /* gap: 50px; */
}

.left_second {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_second h4 {
  font-size: 45px;
  color: #23506D;
  letter-spacing: 4px;
}

.right_second {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_second p {
  font-size: 20px;
  letter-spacing: 4px;
}

.right_second button {
  padding: 10px;
  width: 150px;
  border: none;
  background-color: #23506D;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}

.about {
  display: flex;
  background-color: #B6C4B6;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.about_content {
  display: flex;
  gap: 100px;
}

.about_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_left .pp {
  font-size: 22px;
  letter-spacing: 4px;
  color: #23506D;
  margin-bottom: 15px;
}

.about_left h2 {
  font-size: 40px;
  margin-bottom: 20px;
  letter-spacing: 4px;
}

.about_left h2 span {
  color: #E3651D;
}

.about_left .pp2 {
  color: #23506D;
  font-size: 20px;
  letter-spacing: 4px;
}

.about_left a {
  color: #E3651D;
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 4px;
  position: relative;
}

.about_left a::after {
  content: "";
  height: 4px;
  top: 50%;
  margin-left: 20px;
  width: 100%;
  position: absolute;
  background-color: #E3651D;
}

.about_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_right .img {
  height: 320px;
  width: 320px;

}

.about_right .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 70% 60%;
  border-top-right-radius: 30% 40%;
  border-bottom-right-radius: 30% 60%;
  border-bottom-left-radius: 70% 40%;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.counter h1 {
  color: #23506D;
  text-align: center;
  margin-bottom: 40px;
}

.countt {
  display: flex;
  gap: 40px;
}

.cc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23506D;
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px #23506D;
  cursor: pointer;
}

.cc h2 {
  text-align: center;
  color: #E3651D;
}