* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.linkk {
  color: white;
  text-decoration: none;
  position: relative;
  transition: 0.3s ease-in-out;
}

.linkk::after {
  content: "";
  height: 3px;
  width: 100%;
  left: 0;
  background-color: #E3651D;
  position: absolute;
  transition: 0.3s ease-in-out;
  transform: scaleX(0);
  bottom: -5px;
  border-radius: 10px;
}


.linkk:hover::after {
  transform: scaleX(1);
}

.active {
  color: #E3651D;
}

.home_main_container {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.span {
  background-color: rgba(255, 255, 255, 0.322);
  padding: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  letter-spacing: 4px;
  backdrop-filter: blur(12px);
}

.span h1 {
  font-size: 60px;
  color: #23506D;
}

.span h1 span {
  color: #E3651D;
}

.span p {
  font-size: 30px;
  color: white;
  margin-top: 20px;
}

.span button {
  padding: 10px;
  width: 150px;
  border: none;
  background-color: #23506D;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.second {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.second_content {
  display: flex;
}

.left_second {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_second h4 {
  font-size: 45px;
  color: #23506D;
  letter-spacing: 2px;
}

.right_second {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_second p {
  font-size: 20px;
  letter-spacing: 2px;
}

.right_second button {
  padding: 10px;
  width: 150px;
  border: none;
  background-color: #23506D;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}

.about {
  display: flex;
  background-color: #B6C4B6;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.about_content {
  display: flex;
  gap: 100px;
}

.about_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_left .pp {
  font-size: 22px;
  /* letter-spacing: 2px; */
  color: #23506D;
  margin-bottom: 15px;
}

.about_left h2 {
  font-size: 40px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.about_left h2 span {
  color: #E3651D;
}

.about_left .pp2 {
  color: #23506D;
  font-size: 20px;
  letter-spacing: 2px;
}

.about_left a {
  color: #E3651D;
  text-decoration: none;
  font-size: 22px;
  letter-spacing: 4px;
  position: relative;
}

.about_left a::after {
  content: "";
  height: 4px;
  top: 50%;
  margin-left: 20px;
  width: 100%;
  position: absolute;
  background-color: #E3651D;
}

.about_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_right .img {
  height: 320px;
  width: 320px;

}

.about_right .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 70% 60%;
  border-top-right-radius: 30% 40%;
  border-bottom-right-radius: 30% 60%;
  border-bottom-left-radius: 70% 40%;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.counter h1 {
  color: #23506D;
  text-align: center;
  margin-bottom: 40px;
}

.countt {
  display: flex;
  gap: 40px;
}

.cc {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23506D;
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px #23506D;
  cursor: pointer;
}

.cc h2 {
  text-align: center;
  color: #E3651D;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23506D;
  padding: 10px;
}

.footer_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.left_footer img {
  max-width: 200px;
}

.up_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.up_footer ul {
  list-style: none;
  color: white;
  font-size: 22px;
  cursor: pointer;

}

.up_footer ul li {
  margin-top: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;

}


.up_footer ul li::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  margin-left: -10px;
  background-color: white;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.up_footer ul li:hover::before {
  background-color: #E3651D;
}

.down_footer ul {
  display: flex;
  list-style: none;
  gap: 40px;
  color: white;
}

.down_footer ul li i {
  font-size: 25px;
  color: white;
  margin-right: 100px;
  cursor: pointer;
}

.services_main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.span2 {
  background-color: rgba(255, 255, 255, 0.322);
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
  letter-spacing: 4px;
  backdrop-filter: blur(12px);
  text-transform: uppercase;
}

.span2 h4 {
  color: #23506D;
  margin-bottom: 20px;
}

.span2 h2 {
  color: white;
}

.span2 h2 span {
  color: #E3651D;
}

.serv_second {
  background-color: #B6C4B6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.serv_second h2 {
  text-align: center;
  color: #23506D;
  font-size: 35px;
  margin-bottom: 30px;
}

.service_cards {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.butto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.serv_button button {
  padding: 10px;
  width: 180px;
  margin: 20px;
  background-color: #23506D;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 18px;
}

.serv_button button i {
  margin-left: 5px;
}

.fin_det {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
}

.ai_main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ai_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.ai_sec_con {
  display: flex;
  gap: 20px;
}

.ai_sec_lef {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai_sec_lef h3 {
  color: #E3651D;
  font-size: 30px;
  position: relative;
}

.ai_sec_lef h3::before {
  content: '';
  height: 100%;
  width: 2%;
  background-color: #23506D;
  position: absolute;
  left: -5%;
  border-radius: 20px;
}

.ai_sec_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai_sec_right p {
  font-size: 20px;
}

.ai_third {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #B6C4B6;
}

.ai_third h2 {
  margin-bottom: 20px;
  color: #23506D;
  font-size: 40px;
}

.ai_third p {
  font-size: 18px;
}

.ai_fourth {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.ai_fourth h1 {
  text-align: center;
  color: #23506D;
}

.fourth_right {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.fourth_right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.fourth_both {
  display: flex;
  gap: 100px;
}

.fourth_left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #23506D;
}

.ai_fifth {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #B6C4B6;
}

.fif_div {
  width: 250px;
  background-color: #23506D;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.fifth_divs {
  display: flex;
  margin-top: 20px;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.fif_div_con {
  border-radius: 20px;
  box-shadow: 0 0 20px #23506D;

}

.fif_div_con h3 {
  text-align: center;
  border-radius: 20px 20px 0 0;
  color: #E3651D;
  background-color: white;
  padding: 5px;
}

.fif_head {
  text-align: center;
  margin-bottom: 20px;
  color: #23506D;
  font-size: 40px;
}

.fif_sub {
  color: #E3651D;
  font-size: 25px;
  text-align: center;
}

.fif_para {
  text-align: center;
  font-size: 20px;
  color: #23506D;
  margin-top: 20px;
}

.fif_div_con p {
  color: white;
  padding: 5px;
  text-align: center;
}

.ae_main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.join_main {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.span2 h1 {
  color: #23506D;
}

.join_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.join_btns button {
  width: 200px;
  margin: 20px;
  padding: 15px;
  background-color: #23506D;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  z-index: -1;
}

.join_btns h1 {
  text-align: center;
  margin-bottom: 20px;
}

.overlay_mod {
  background-color: #23506D;
  height: 100%;
  position: fixed;
  width: 100%;
}

.mod1_con {
  max-width: 600px;
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23506D;
  border-radius: 20px;
}

.modd {
  color: white;
  width: 400px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modd h4 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  color: #E3651D;
}

.modd p {
  float: right;
  font-size: 20px;
  position: relative;
}

.modd form {
  text-align: center;
}

.modd input {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.modd input::placeholder {
  color: rgb(177, 176, 176);
  font-size: 16px;
}

.modd input:focus {
  outline: none;
}

.sbmt_btn {
  background-color: #E3651D;
  color: white;
  font-size: 20px;
}



@media screen and (max-width: 830px) {
  .span {
    padding: 50px;
  }

  .span h1 {
    font-size: 30px;
  }

  .span p {
    font-size: 18px;
  }

  .span button {
    padding: 5px;
  }

  .second_content {
    flex-direction: column;
  }

  .left_second h4 {
    font-size: 30px;
  }

  .secc p {
    font-size: 17px;
    margin-top: 15px;
  }

  .secc button {
    padding: 5px;
  }

  .about_content {
    flex-direction: column;
  }


  .leftt h2 {
    font-size: 25px;
  }

  .leftt p {
    font-size: 18px;
  }

  .leftt a {
    font-size: 15px;
  }

  .about_right .img {
    height: 250px;
    width: 250px;
  }

  .countt {
    flex-direction: column;
  }

  .footer_content {
    flex-direction: column;
  }

  .up_footer {
    margin-top: -80px;
    flex-direction: column;
    gap: 10px;
  }

  .up_footer ul li {
    margin-top: 20px;
  }

  .down_footer ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .down_footer ul li i {
    margin-right: 10px;
  }

  .ull {
    display: none;
  }

  .span2 {
    padding: 25px;
  }

  .span2 h4 {
    font-size: 18px;
  }

  .span2 h2 {
    font-size: 20px;
  }

  .serv_button button {
    margin: 10px;
    padding: 10px;
    width: 160px;
    font-size: 18px;
  }

  .service_cards {
    flex-direction: column;
    gap: 20px;
  }

  .ai_sec_con {
    flex-direction: column;
  }

  .span2 h1 {
    font-size: 20px;
  }

  .ai_sec_lef h3 {
    font-size: 25px;
  }

  .ai_sec_right p {
    font-size: 18px;
  }

  .ai_third_con h2 {
    font-size: 25px;
  }

  .ai_third_con p {
    font-size: 18px;
  }

  .ai_fourth {
    display: none;
  }

  .ai_fifth {
    background-color: white;
  }

  .fif_head {
    font-size: 25px;
  }

  .fif_sub,
  .fif_para {
    display: none;
  }

  .fifth_divs {
    flex-direction: column;
    gap: 40px;
  }

  .butto {
    flex-direction: column;
  }
}